body {padding-top: 70px;}

.background-line {
    display: table;
    white-space: nowrap;
}

.background-line:before, .background-line:after {
    border-top: 1px solid #3a3a48;
    content: '';
    display: table-cell;
    position: relative;
    top: 1.2em;
    width: 50%;
}

.background-line > h4 {
    padding: 0 20px;
    font-family: ff-clan-web-pro-wide, "Helvetica Neue", Helvetica, sans-serif;
}

.btn-lg.btn-social :first-child {
    background-color: rgba(255,255,255, 0.07);
}

@media only screen and (max-width: 480px){
    .sms-signup, .email-signup, .signup-agreement {
        margin: 0 10px;
    }
    .btn-lg.btn-social :first-child {
        width: 40px;
        line-height: 1.8em;
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px){
    .sms-signup, .email-signup, .signup-agreement {
        margin: 0 100px;
    }
    .btn-lg.btn-social :first-child {
        width: 45px;
        line-height: 1.8em;
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .sms-signup, .email-signup,.signup-agreement {
        margin: 0 100px;
    }
    .btn-lg.btn-social :first-child {
        width: 50px;
        line-height: 1.8em;
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 959px){
    .sms-signup, .email-signup, .signup-agreement {
        margin: 0 100px;
    }
    .btn-lg.btn-social :first-child {
        width: 60px;
        line-height: 1.8em;
        font-size: 1.5em;
    }
}

.sms-signup {
    margin-bottom: 50px;
}

.signup-agreement { margin-top: 30px; }

.btn-social {
    min-width: 160px;
    position: relative;
    text-align: center;
    padding-left: 30px;
    cursor: pointer;
    background: transparent;
    margin: 10px 0;
    border-color: rgba(0,0,0,0.2);
    font-size: 1em;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-github {
    color: #eee;
    background-color: #444 ;
}
.btn-github:hover {
    color: #444;
    background-color: #eee ;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}
.btn-facebook:hover {
    background-color: #fff;
    color: #3b5998;
}

.btn-google{
    background-color: #dd4b39;
    color: #fff;
}
.btn-google:hover{
    background-color: #fff;
    color: #dd4b39;
}

.btn-linkedin{
    background-color: #007bb6;
    color: #fff;
}
.btn-linkedin:hover{
    background-color: #fff;
    color: #007bb6;
}

.btn-twitter{
    background-color: #55acee;
    color: #fff;
}
.btn-twitter:hover{
    background-color: #fff;
    color: #55acee;
}

.btn-signup {
    color: #fff;
    background-color: #4caf50;
    margin-top: 50px;
}
/* inside of input box */
.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 7px;
    pointer-events: none;
    font-size: 1.3em;
}

.left-addon {
    left: 0;
}

.right-addon { right: 0; }
.right-addon input{ padding-right: 30px; }
.left-addon input {
    padding-left: 35px;
}


/*.btn-email {*/
/*background-color: #4caf50;*/
/*color: #fff;*/
/*}*/

/* error message on email sign up */
.help-inline {
    color: #e25454;
}
/* Margin at the bottom of the page  */
.bottomSpace {
    margin-bottom: 70px;
}