<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
    <div class="panel-heading panel-collapse-trigger">
        <h4 class="panel-title">My Account</h4>
    </div>
    <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
            <!--<li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">Dashboard</a></li>-->
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-challange-quiz">Try a Challenge</a></li>
            <!--<li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-choice-quiz">Choice Quiz</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-coding-quiz">Coding Quiz</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-video-quiz">Video Quiz</a></li>-->
            <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
        </ul>
    </div>
</div>