<!-- Fixed navbar -->
<student-dashboard></student-dashboard>
<profile-data></profile-data>
<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="media v-middle">
                        <div class="media-left">
                            <div class="bg-green-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-code fa-fw fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="text-headline margin-none">Quiz Challenges</h4>
                        </div>
                        <!--<div class="media-right media-padding">
                            <a class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated href="#">
                                Upgrade
                            </a>
                        </div>-->
                    </div>
                </div>
                <div class="row" data-toggle="isotope" ng-controller="choiceQuizController">
                    <div class="item col-xs-12 col-lg-12">
                        <div class="panel panel-default paper-shadow" data-z="0.5">
                            <div class="panel-heading">
                                <h6 class="text-headline margin-none">Multiple Choice Quiz {{subject}}</h6>
                            </div>
                            <ul class="list-group" ng-hide="quizStartAccepted">
                                <li class="list-group-item media v-middle">
                                    <div class="media-body">
                                        <p class="text-justify">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias,
                                            blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias,
                                            blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?

                                            Click Start to Continue!!!
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="panel-footer text-right" ng-hide="quizStartAccepted">
                                <button ng-click="startQuiz()" class="btn btn-success paper-shadow relative"
                                        data-z="0" data-hover-z="1" data-animated href="#"> Start
                                </button>
                            </div>
                            <div class="panel-body" ng-show="quizStartAccepted" ng-hide="quizBegin">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Select Subject</label>
                                    <div class="col-sm-9">
                                        <select name="selectSubject" ng-model="selectSubject"
                                                ng-change="subjectChanged()" class="selectpicker" data-style="btn-info"
                                                data-live-search="true" data-size="5">
                                            <option ng-repeat="subject in subjects" value="{{subject.id}}">
                                                {{subject.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default open paper-shadow" ng-show="quizBegin"
                                 data-z="0.5">
                                <div class="panel-heading panel-heading-gray">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="icon-block img-circle bg-indigo-300 half text-white"><i
                                                    class="fa fa-graduation-cap"></i></span>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="text-headline">Question {{questionNo}}</h4>
                                            <p>{{questionText}}</p>
                                        </div>
                                        <div class="media-right">
                                            <div class="width-100 text-right text-h5 text-headline">
                                                <timer interval="1000" countdown="10" max-time-unit="minute" autostart="false" finish-callback="finished()">{{mminutes}}:{{sseconds}}</timer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default paper-shadow" data-z="0.5">
                                    <div class="panel-body media">
                                        <div class="media-left">
                                            <div class="text-crt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                        </div>
                                        <div class="media-body">
                                            <div class="radio radio-success">
                                                <input type="radio" name="answer" id="answer1" ng-model="answer1">
                                                <label for="answer1">{{answer1Text}}</label>
                                            </div>
                                            <div class="radio radio-success">
                                                <input type="radio" name="answer" id="answer2" ng-model="answer1">
                                                <label for="answer2">{{answer2Text}}</label>
                                            </div>
                                            <div class="radio radio-success">
                                                <input type="radio" name="answer" id="answer3" ng-model="answer1">
                                                <label for="answer3">{{answer3Text}}</label>
                                            </div>
                                            <div class="radio radio-success">
                                                <input type="radio" name="answer" id="answer4" ng-model="answer1">
                                                <label for="answer4">{{answer4Text}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="text-right">
                                            <button class="btn btn-primary" ng-click="nextQuestion()"><i class="fa fa-chevron-right fa-fw"></i> Next Question</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <br/>
                <br/>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">My Account</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color"
                                                                                   ui-sref="website-student.dashboard">Dashboard</a>
                            </li>
                            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color"
                                                                                   ui-sref="website-student.take-quiz">Coding
                                Quiz</a></li>
                            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color"
                                                                                   ui-sref="website-student.private-profile">Profile</a>
                            </li>
                            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color"
                                                                                   ui-sref="website-student.messages">Messages</a>
                            </li>
                            <li class="list-group-item"><a class="link-text-color"
                                                           ui-sref="login"><span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
