<div class="panel-body" ng-hide="quizTypes">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-size: large;font-family: FontAwesome;color:green;font-weight: bolder">Select Quiz Type</label>
        <div class="col-sm-9">
            <select name="selectType" ng-model="selectedType"
                    ng-change="selectTestType()" class="form-control input-lg select2"
                    data-style="btn-white" data-live-search="true" data-size="5">
                <option data-ng-repeat="type in types" value="{{type.id}}"
                        data-tokens="{{type.id}}"> {{type.name}}
                </option>
            </select>
        </div>
    </div>
</div>
<!--<div class="panel-body" ng-hide="quizTypes">
    <div class="form-group">
        <div class="md-padding"  layout="column" layout-align="center center" ng-cloak>
            <md-input-container >

                <label ><strong>Select Quiz Type</strong></label>

                <md-select  style="width: 500px" name="selectType" ng-model="selectedType" class=" input-lg select2"
                            ng-change="selectTestType()" data-style="btn-white" data-live-search="true" data-size="5">
                    <md-option ng-repeat="type in types" value="{{type.id}}"
                               data-tokens="{{type.id}}">{{type.name}}
                    </md-option>
                    <br>
                </md-select>

            </md-input-container>
        </div>
    </div>
</div>-->

